p {
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  font-weight: bold;
  font-size: 18px;

  /*force part of the text on to a second line using width*/
  width: 300px;

  /*adjust spacing between lines*/
  line-height: 24px;

  margin-bottom: 5px;

}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;

}

.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 270px;
  line-height: 20px;
  margin-bottom: 100px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  color: white;
  background-color: rgb(227, 65, 64);
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.shop-link {
  cursor: pointer;
  margin-left: 20px;
  /*To add spacing because html has its own*/

}

.shop-link:hover {
  text-decoration: underline;
}